/*Baskerville Google font: https://fonts.google.com/selection/embed*/
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}

#text-content {
    width: 50%;
    margin-left: 25%;
    color: white;
    background-color: black;
    text-align: center;
}

img {
    border: 5px solid white;
    width: 100%;
    height: auto;
}