<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alessandro Maccario - DE</title>
    <link rel="stylesheet" href="static/styles_2.css">
</head>

<body>
    <!-- Main business card container -->
    <div class="business-card">
        <!-- Profile image with descriptive alt text -->
        <img class="profile-image" src="static/me.jpeg"
            alt="an AI generated picture of the site's owner based on a real picture" />

        <!-- Name, job title, and company -->
        <p class="full-name">Alessandro Maccario</p>
        <p class="designation">Data Engineer</p>

        <!-- Create a line before and after the email section -->
        <hr>

        <!-- Contact information -->
        <p>alessandro.maccario.w@gmail.com</p>

        <!-- Link to personal portfolio -->
        <!-- <a href="https://github.com/alessandro-maccario" target="_blank">GitHub</a> -->

        <hr>

        <!-- Social media links section -->
        <div class="social-media">
            <h2>Connect with me</h2>
            <a href="https://github.com/alessandro-maccario" target="_blank">
                <img src="static/github-logo.png" alt="github logo" width="30" height="30">
            </a>
            <a href="https://www.linkedin.com/in/alessandro-maccario/" target="_blank">
                <img src="static/linkedin-logo.png" alt="linkedin logo" width="30" height="30">
            </a>
        </div>
    </div>
</body>

</html>