{% extends "base.html" %}
{% block content %}

<!-- Display the user's name in the h1 title-->
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class="flashes">
    {% for category, message in messages %}
    <p class="alert {{category}}">{{ message }}</p>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% if current_user.is_authenticated %}
  <h1 class="title">Welcome, {{ current_user.name }}!</h1>
  {% endif %}
  <!-- Make a GET request to the /download path-->
  <a href="{{ url_for('download', name='files/cheat_sheet.pdf') }}">Download Your File</a>
</div>
{% endblock %}