{% extends 'base.html' %}


{% block body %}
<!-- Certifications-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications</h2>

        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2025 - (KNIME) Proficiency in KNIME Software for Collaboration and Productionization
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2024 - (Udemy) The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2024 - (Udemy) Git and Github
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2023 - (Udemy) Tableau Desktop Advanced
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2023 - (Udemy) Tableau Desktop
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2023 - (KNIME) Advanced Proficiency in KNIME Analytics Platform
            </li>
            <li>
                <span class="fa-li"><i class="fa-brands fa-free-code-camp text-success"></i></span>
                2022 - (FreeCodeCamp) Data Analysis with Python
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2022 - (KNIME) Basic Proficiency in KNIME Analytics Platform
            </li>
            <li>
                <span class="fa-li"><i class="fa-brands fa-free-code-camp text-success"></i></span>
                2021 - (FreeCodeCamp) Responsive Web Design
            </li>
        </ul>

    </div>
</section>
<hr class="m-0" />
{% endblock %}