{% extends 'base.html' %}


{% block body %}
<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Data Engineer</h3>
                <div class="subheading mb-3">Infineon - Austria</div>
                <p>I work across the full data lifecycle — from fetching raw information to shaping it into something
                    teams can actually use.
                    I build ETL pipelines using Python, KNIME, and even Tableau flow, making sure data
                    moves smoothly and reliably where it needs to be.<br>

                    I'm also the one who keeps MySQL databases healthy, fast, and well-structured, so they behave nicely
                    even under pressure. With Python, I automate repetitive tasks, extract complex datasets, and build
                    custom solutions that save time, actual working time. <br>

                    Turning data into something clear and visually meaningful is another part of my work — whether with
                    KNIME, Tableau, or Python-based visualizations. And when the situation calls for it, I build small
                    web applications to make data and tools more accessible to the people who need them.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jun 2023 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Data Scientist Intern</h3>
                <div class="subheading mb-3">Infineon - Austria</div>
                <p>During my year as a Data Science intern, I got to roll up my sleeves and build real data solutions
                    from scratch, that the team would actually use. I worked across the entire pipeline — stitching
                    together Python scripts, KNIME
                    workflows with industry-specific Machine Learning models, and Tableau processes to transform messy,
                    raw data into clean, structured, and
                    analysis-ready datasets.
                    It was a hands-on crash course in turning data chaos into something teams could actually use to save
                    time and to get more information out of their data.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">May 2022 - Apr 2023</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock %}