{% extends 'base.html' %}

{% block body %}
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Alessandro
                <span class="text-primary">Maccario</span>
            </h1>
            <p></p>
            <p class="lead mb-5">Experienced in building data-driven pipelines leveraging both programming languages
                and low-code solutions.
                Agile frameworks and close client-developer collaboration fostering an iterative approaches to
                create efficient and scalable in-house software solutions. Experienced in navigating ambiguity and
                driving outcomes to deliver business value with the right tools that fit the job.
            </p>
            <p class="lead mb-5">Apart from being a Data Engineer, I spend a large amount of my free time learning
                new concepts and exploring other fields, such as Web Development and AI.
                Other than staring at the monitor, I enjoy most of my time being outdoors. In winter, I am an novice
                skier and sledder. During the warmer months, hiking, biking and swimming (or visiting a new city),
                are amongst my top chosen activities.</p>
            <div class="social-icons">
                <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/alessandro-maccario" target="_blank"><i
                        class="fab fa-github"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fa-solid fa-mountain-sun"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-person-hiking"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-laptop-code"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-person-swimming"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-person-running"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-dumbbell"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-book-open-reader"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-person-skiing"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-sleigh"></i></li>
                <li class="list-inline-item"><i class="fa-solid fa-person-biking"></i></li>
            </ul>

            <p>When I'm not busy being a <b>Data Engineer</b> and arguing with databases, I'm usually off learning
                something
                new —
                lately, that means poking around the world of Web Development. <br>
                Outside the tech bubble, you'll mostly find me outdoors. In winter, I proudly hold the title of
                <i>novice
                    skier</i>
                and <i>enthusiastic sledder</i>, which mostly means I slide down mountains with varying levels of
                control.
                <br>
                When the weather gets warmer, I switch to hiking, biking, swimming — or wandering around new cities
                (pretending I'm a local who got slightly lost).
            </p>
        </div>
    </section>
    <hr class="m-0" />
</div>
{% endblock %}