{% extends 'base.html' %}


{% block body %}
<!-- Projects-->
<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Projects</h2>
        <p>All the projects link directly to my GitHub repo.</p>

        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for project in projects %}
            <div class="col">
                <div class="card">
                    <img src="{{project.image}}" class="card-img-top" alt="{{project.image_alt_text}}">
                    <div class="card-body">
                        <h5 class="card-title"><a
                                href="https://github.com/alessandro-maccario/expense_tracker_streamlit"
                                target="_blank">{{project.name}}</a>
                        </h5>
                        <p class="card-text">{{project.title}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
<hr class="m-0" />
{% endblock %}