{% extends 'base.html' %}


{% block body %}
<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Milano-Bicocca</h3>
                <div class="subheading mb-3">Master of Science</div>
                <div>Data Science</div>
                <p>Final Grade: 110/110 Summa Cum Laude</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2020 - May 2023</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Klagenfurt</h3>
                <div class="subheading mb-3">Master of Science</div>
                <div>Erasmus Traineeship in the Master of Science in Information and Communication Engineering -
                    Department of AI and Cybersecurity</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2022 - 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Klagenfurt</h3>
                <div class="subheading mb-3">Master of Science</div>
                <div>Erasmus Student in the Master of Science of Information and Communication Engineering</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2021 - 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Novara</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Business Administration</div>
                <p>Final Grade: 110/110 Summa Cum Laude</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2017 - 2020</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock %}