{% extends 'base.html' %}

{% block body %}
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Alessandro
                <span class="text-primary">Maccario</span>
            </h1>
            <p></p>
            <p class="lead mb-5">Experienced in building data-driven pipelines leveraging both programming language
                and low-code solutions.
                Agile frameworks and close client-developer collaboration fostering an iterative approaches to
                create efficient and scalable in-house software solutions.</p>
            <p class="lead mb-5">Apart from being a Data Engineer, I spend a large amount of my free time learning
                new concepts and exploring other fields, such as Web Development and AI.
                Other than staring at the monitor, I enjoy most of my time being outdoors. In winter, I am an novice
                skier and sledder. During the warmer months, hiking, biking and swimming (or visiting a new city),
                are amongst my top chosen activities.</p>
            <div class="social-icons">
                <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/alessandro-maccario" target="_blank"><i
                        class="fab fa-github"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>
{% endblock %}