{% extends 'base.html' %}


{% block body %}
<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fa-solid fa-mountain-sun"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-person-hiking"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-laptop-code"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-person-swimming"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-person-running"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-dumbbell"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-book-open-reader"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-person-skiing"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-sleigh"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-person-biking"></i></li>
        </ul>

        <p>When I'm not busy being a <b>Data Engineer</b> and arguing with databases, I'm usually off learning something
            new —
            lately, that means poking around the world of Web Development. <br>
            Outside the tech bubble, you'll mostly find me outdoors. In winter, I proudly hold the title of <i>novice
                skier</i>
            and <i>enthusiastic sledder</i>, which mostly means I slide down mountains with varying levels of control.
            <br>
            When the weather gets warmer, I switch to hiking, biking, swimming — or wandering around new cities
            (pretending I'm a local who got slightly lost).
        </p>
    </div>
</section>
<hr class="m-0" />
{% endblock %}