{% extends 'base.html' %}


{% block body %}
<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a Data Engineer, I spend a large amount of my free time learning new concepts and
            exploring other fields, such as web development.
            Other than that, I enjoy most of my time being outdoors. In the winter, I am an novice
            skier and sledder. During the warmer months, hiking, biking and swimming (or visiting a new city),
            are amongst my top chosen activities.</p>
    </div>
</section>
<hr class="m-0" />
{% endblock %}